# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
.DS_Store

# Other
cleanup.py
update_categories.py
update_api_url.py
